<div class="content-d">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                Follow us on:-
                <div>
                    <a href="https://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i></a>

                    <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter"></i></a>

                    <a href="https://linkedin.com" class="btn btn-default btn-lg"><i class="fa fa-linkedin"></i></a>
                </div>


                <hr>
                Copyright © Melvano
            </div>
        </div>
    </div>
</div>

