<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melvano</title>
    <link rel="shortcut icon" href="./mine/img/melvanocircle.png" />






    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" href="./imports/css/bootstrap.min.css">
    <!--fontawesome css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">









    <!--font latto import-->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">










    <!--jquery js import-->
    <script type="text/javascript" src="./imports/js/jquery.min.js"></script>
    <!--jquery cookie-->
    <script type="text/javascript" src="./imports/js/jquery.cookie.js"></script>
    <!--bootstrap js import-->
    <script type="text/javascript" src="./imports/js/bootstrap.min.js"></script>
    <!--axios js-->
    <script type="text/javascript" src="./imports/js/axios.js"></script>
    <!--vue min js-->
    <script type="text/javascript" src="./imports/js/vue.min.js"></script>


</head>