<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img style="height: 50px;width:90px;" src="mine/img/melvanoicon.png">
            <a class="navbar-brand" href="/">Melvano</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="<%if (active_page_index== '1') { %>active<% } %>"><a href="/">Home</a></li>
                <li class="<%if (active_page_index== '2') { %>active<% } %>"><a href="#about">Blog</a></li>
                <li class="<%if (active_page_index== '3') { %>active<% } %>"><a href="#contact">Reviews</a></li>
                <li class="<%if (active_page_index== '4') { %>active<% } %>"><a href="#become-a-tutor">Become A Tutor</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="<%if (active_page_index== '5') { %>active<% } %>"><a href="/signup">Signup  <i class="fa fa-user-plus"></i></a></li>
                <li class="<%if (active_page_index== '6') { %>active<% } %>"><a href="/login">Login  <i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>