<!DOCTYPE html>
<html>
<%- include includes/header.ejs %>
<link rel="stylesheet" type="text/css" href="mine/css/index_app.css">
<body>

<div id="indexApp">
    <div class="row">
        <div class="col-lg-12">
            <div class="content-header parallax_1">
                <div class="logo"><img style="width: 50%;" src="mine/img/melvanocircle.png"></div>
                <h1>Your everyday study partner</h1>
                <h2>Come Learn With Us !</h2>
                <a href="https://facebook.com" style="text-shadow: none;" class="btn btn-default btn-lg"><i class="fa fa-facebook-official" aria-hidden="true"></i> facebook </a>
                <a href="https://twitter.com" class="btn btn-default btn-lg" style="text-shadow: none;"><i class="fa fa-twitter-square" aria-hidden="true"></i> twitter </a>
                <a href="https://linkedin.com" class="btn btn-default btn-lg" style="text-shadow: none;"><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin </a>
            </div>
        </div>
    </div>
</div>
<div class="content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-a-1">
                    Check-in to your study topic <h3>Get doubts cleared instantly by top tutors, 24/7</h3>


                </div>
            </div>
            <div class="col-md-6"><img class="first_phone img-responsive center-block" src="mine/img/first_image.gif"></div>
        </div>
    </div>
</div>
<div class="content-b">
    <div class="container">
        <div class="row">

            <div class="col-md-6"><img class="img-responsive center-block" src="mine/img/second_phone.png"></div>
            <div class="col-md-6">
                <div class="content-b-2">
                    For Classes 8-12 School Exams, JEE, NEET, CET, IBPS Bank PO
                    <h3>Tell Melvano what you are studying right now</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-a-1">
                    Get Doubts Cleared
                    <h3>Instantly, by top tutors from IITs, NITs, BITS & AIIMS</h3>
                </div>
            </div>
            <div class="col-md-6"><img class="img-responsive center-block" src="mine/img/third_phone.png"></div>
        </div>
    </div>
</div>
<div class="content-b">
    <div class="container">
        <div class="row">

            <div class="col-md-6"><img class="img-responsive center-block" src="mine/img/fourth_phone.png"></div>
            <div class="col-md-6">
                <div class="content-b-2">
                    Practice Questions
                    <h3>Thousands of curated questions with instant feedback and stats</h3>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-a-1">
                    Share with friends
                    <h3>Liked a practice question? Share it instantly!</h3>
                </div>
            </div>
            <div class="col-md-6"><img class="img-responsive center-block" src="mine/img/fifth_phone.png"></div>
        </div>
    </div>
</div>

<div class="content-c parallax_2">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <img style="max-width: 30%;" src="mine/img/tutor.png" style="padding-top: 5%">
                <h4>Know more about us</h4>
                <center>                <input type="text"  class="form-control" style="width: 20vw;" id="user_email" placeholder="Enter your email here"><br>
                </center>
                <a href="#register-as-tutor" class="btn btn-lg btn-primary">SUBSCRIBE US</a><br>
            </div>
        </div>
    </div>
</div>
<%- include includes/footer.ejs%>
</body>
</html>
