<!DOCTYPE html>
<html>
<%- include includes/header.ejs %>
<body>
<%- include includes/navbar.ejs%>

<div class="container" id="signupApp">
    <div class="row" style="margin-top: 8vh;">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <form action="#" method="post" class="form" role="form">
                <div class="row" style="margin-top: 4vh;">
                    <div class="col-md-6" style="margin-top: 4vh;">
                        <input class="form-control" style="margin-bottom: 10px;" name="firstname" placeholder="First Name" type="text"
                               required autofocus />
                    </div>
                    <div class="col-md-6" style="margin-top: 4vh;">
                        <input class="form-control" style="margin-bottom: 10px;" name="lastname" placeholder="Last Name" type="text" required />
                    </div>
                </div>
                <div style="margin-top: 4vh;">
                    <input class="form-control" style="margin-bottom: 10px;" name="username" placeholder="Username" type="Username" />
                </div>
                <div style="margin-top: 4vh;">
                    <input class="form-control" style="margin-bottom: 10px;" name="email" placeholder="Email" type="email" />
                </div>
                <div style="margin-top: 4vh;">
                    <input class="form-control" style="margin-bottom: 10px;" name="password" placeholder="Password" type="password" />
                </div>
                <div style="margin-top: 4vh;">
                    <input class="form-control" style="margin-bottom: 10px;" name="re-entered_password" placeholder="Re-enter Password" type="password" />
                </div>
                <!--<div style="margin-top: 4vh;">
                    <label for="">
                        Birth Date</label>
                    <div class="row">
                        <div class="col-md-4" style="padding-bottom: 5px;">
                            <select class="form-control">
                                <option value="Month">Month</option>
                            </select>
                        </div>
                        <div class="col-md-4" style="padding-bottom: 5px;">
                            <select class="form-control">
                                <option value="Day">Day</option>
                            </select>
                        </div>
                        <div class="col-md-4" style="padding-bottom: 5px;">
                            <select class="form-control">
                                <option value="Year">Year</option>
                            </select>
                        </div>
                    </div>
                </div>-->
                <div style="margin-top: 4vh;">
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
                        &nbsp;Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineCheckbox2" value="female" />
                        &nbsp;Female
                    </label>
                </div>
                <div style="margin-top: 4vh;margin-bottom: 8vh;">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign up</button>
                </div>


            </form>
        </div>
    </div>
</div>

</body>

</html>